<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestesDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97ECA3A91DDDEB0300EF6D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97ECA3BD1DDDEB0300EF6D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97ECA3C81DDDEB0300EF6D58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
